doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Email Confirmation
    style(type='text/css').
      img{
        outline:none;
        text-decoration:none;
        -ms-interpolation-mode:bicubic;
      }
      a img{
        border:none;
      }
      table td{
        border-collapse:collapse;
      }
      table{
        border-collapse:collapse;
        mso-table-lspace:0pt;
        mso-table-rspace:0pt;
      }
      table {border-collapse:separate;}
      a, a:link, a:visited {text-decoration: none; color: #00788a;}
      a:hover {text-decoration: underline;}
      h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important;}
      .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td {line-height: 100%;}
      .ExternalClass {width: 100%;}
      @media (max-width: 480px){
        body{
          -webkit-box-sizing:border-box;
          box-sizing:border-box;
          padding:0 !important;
        }
      }
      @media (max-width: 480px){
        table{
          border-spacing:0 !important;
          width:100%;
        }
      }
      @media (max-width: 480px){
        table td{
          -webkit-box-sizing:border-box;
          box-sizing:border-box;
        }
      }
      @media (max-width: 480px){
        img{
          max-width:100% !important;
        }
      }
      @media (max-width: 480px){
        [class*=full-width]{
          display:block;
          text-align:center;
          width:100% !important;
        }
      }
      @media (max-width: 480px){
        [class*=mobile-hide]{
          display:none;
        }
      }
      @media (max-width: 480px){
        [class*=top-bottom-padding]{
          padding-top:20px;
          padding-bottom:20px;
        }
      }
      @media (max-width: 480px){
        [class*=left-right-padding]{
          padding-left:15px;
          padding-right:15px;
        }
      }
      @media (max-width: 480px){
        [class*=mobile-block]{
          display:block;
          width:100% !important;
          height:15px !important;
        }
      }
      @media (max-width: 480px){
        [class*=align-center]{
          text-align:center;
        }
      }
      @media (max-width: 480px){
        [class*=align-left]{
          text-align:left;
        }
      }
      @media (max-width: 480px){
        [class*=border-left]{
          border-left:1px solid #e5e5e5 !important;
        }
      }
      @media (max-width: 480px){
        [class*=no-border]{
          border:0 !important;
        }
      }
      @media (max-width: 480px){
        [class*=margin-bottom]{
          display:inline-block;
          margin-bottom:10px !important;
        }
      }
      @media (max-width: 480px){
        [class*=border-bottom]{
          border-bottom:1px solid #e5e5e5 !important;
        }
      }
      @media (max-width: 480px){
        [class*=header-mobile-block]{
          display:block !important;
          width:100% !important;
          height:7px !important;
        }
      }
      @media (max-width: 480px){
        [class*=auto-width]{
          width:auto !important;
        }
      }
      @media (max-width: 480px){
        [class*=mobile-link]{
          text-decoration:underline !important;
        }
      }
      @media (max-width: 480px){
        [class*=full-width-img]{
          width:100%;
          height:auto !important;
        }
      }
      @media (max-width: 480px){
        [class*=box-sizing-initial]{
          -webkit-box-sizing:initial;
          box-sizing:initial;
        }
      }
      @media (max-width: 480px){
        [class*=header-bottom-mobile-block]{
          display:block !important;
          width:100% !important;
          height:21px !important;
        }
      }
      @media (max-width: 480px){
        [class*=width-300]{
          width:300px;
        }
      }
      @media (max-width: 480px){
        [class*=height-10]{
          height:10px !important;
        }
      }
  body(style='font-family: Arial, sans-serif; width: 100%;background-color: #efefef;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;mso-margin-top-alt: 0px;mso-margin-bottom-alt: 0px;mso-padding-alt: 0px 0px 0px 0px;')
    table(cellpadding='0', cellspacing='0', border='0', width='100%')
      tr
        td(height='50')
    table(align='center', bgcolor='#ffffff', cellpadding='0', cellspacing='0', width='600')
      tbody
        tr
          td
            table(align='center', width='600', style='border-collapse: collapse;')
              tbody
                tr
                  td(align='left', bgcolor='#ffffff')
                    table(align='left')
                      tbody
                        tr(style='height: 20px;', height='20')
                          td
                        tr
                          td(width='30')
                          td
                            b(style='font-weight: 700;')
                              | New Meeting Request
                          td(width='30')
        tr(style='height: 30px;', height='30')
          td
        tr
          td
            table(align='left', width='600', style='border-collapse: collapse;')
              tbody
                tr(style='height: 10px;', height='10')
                  td
                tr
                  td(width='30')
                  td(align='left')
                    table(align='left', width='100%', style='border-collapse: collapse;', colspan='5')
                      tr
                        td(align='left', style="border-bottom:1 px #cccccc")
                          b
                            |  Name
                        td(align='left', style="border-bottom:1 px #cccccc")
                          | #{firstName} #{lastName}
                      tr
                      tr
                        td(align='left', style="border-bottom:1 px #cccccc")
                          b
                            | Date
                        td(align='left', style="border-bottom:1 px #cccccc")
                          | #{startDate}
                      tr
                        td(align='left', style="border-bottom:1 px #cccccc")
                          b
                            | Time
                        td(align='left', style="border-bottom:1 px #cccccc")
                          | #{startTime}
                  td(width='30')
        tr(style='height: 25px;', height='25')
          td
    table(cellpadding='0', cellspacing='0', border='0', width='100%')
      tr
        td(height='30')
    table(cellpadding='0', cellspacing='0', border='0', width='100%')
      tr
        td(style='padding: 0 15px;')
          table(align='center', width='600')
            tbody
              tr
                td(width='30')
                td(align='center')
                  font(style='font-size: 12px; line-height: 18px; color: #999;')
                    |&copy; #{year} #{companyName}. All Rights Reserved.
                td(width='30')
    table(cellpadding='0', cellspacing='0', border='0', width='100%')
      tr
        td(height='50')
